@inject NavigationManager NavigationManager

<div class="container-fluid m-0 p-0">
    <div class="header ps-5"> 
        <div class="row h-100 m-auto">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <div class="row justify-content-start">
                            <div class="headerLogoContainer col-auto my-auto">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-9 m-0 p-0">
                                            <a class="icon-link" href="#">
                                                <img class="headerLogo" src="/images/Logo.png" sizes="width: 80px;" />
                                                @* <div></div> *@
                                            </a>
                                        </div>
                                        <div class="col-3 p-0">
                                            <div class="dropdown headerDropDownContainer">
                                                <button class="headerDropDownBtn dropdown-toggle" type="button" id="dropdownHeader" data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <ul class="dropdown-menu headerDropDownMenue" aria-labelledby="dropdownHeader">
                                                    <li><a class="dropdown-item headerDropdown-item" href="booklist">Find bøger</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row justify-content-end">
                            <AuthorizeView>
                                <Authorized>
                                    <div class="col-auto my-auto">
                                        <NavLink class="nav-link align-content-md-start" href="Account/Manage">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                            </svg>
                                        </NavLink>
                                    </div>
                                    <div class="col-auto my-auto">
                                        <div class="nav-item m-0 p-0">
                                            <form action="Account/Logout" method="post">
                                                <AntiforgeryToken />
                                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                                <button type="submit" class="nav-link btn">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                                        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </Authorized>
                                <NotAuthorized>
                                    <div class="col-auto">
                                        <div class="nav-item m-0 p-0">
                                            <div class="row m-auto p-1">
                                                <NavLink class="nav-link align-content-md-start" href="Account/Register">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                        <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                                                    </svg>
                                                </NavLink>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="nav-item m-0 p-0">
                                            <div class="row m-auto p-1">
                                                <NavLink class="nav-link align-content-md-start" href="Account/Login">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                                        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1" />
                                                    </svg>
                                                </NavLink>
                                            </div>

                                        </div>
                                    </div>
                                </NotAuthorized>
                            </AuthorizeView>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;

    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}