@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="bg-dark">
        <Header />
        <article class="content px-4 h-auto">
            @Body
        </article>
    </main>
</div>

<style>
    .sidebar {
        background-color: #F2613F !important;
        box-shadow: 2px 0px 1px #F2613F;
    }
</style>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
