@implements IDisposable

@inject NavigationManager NavigationManager



<div class="nav-scrollable h-100 d-" onclick="document.querySelector('.navbar-toggler').click()">
    <div class="position-relative w-100" style="height:100%">
        <div class="position-absolute top-0 start-0 w-100">
            <nav class="flex-column">
                <a class="icon-link px-5" href="#">
                    <img class="navLogo" src="/images/Logo.png" sizes="width: 153px;" />
                </a>
            </nav>
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="booklist">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-bookshelf" viewBox="0 0 16 16">
                            <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5M3 14h10v-3H3zm0-4h10V7H3zm0-4h10V3H3z" />
                        </svg> Find bøger
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="publisheradministration">
                        <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Publisher page
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="adminpage">
                        <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin page
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="subscriptionList">
                        <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Subscriptions
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth">
                        <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                    </NavLink>
                </div>
            </nav>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100">
            <nav class="flex-column-reverse">
                <div class="nav-item px-3">
                    <NavLink class="nav-link align-content-md-start" href="info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg> Info
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

