@page "/BookList"

<div class="row pb-3">
    <Input id="inputTitle" class="col-3" placeholder="Title" />
    <input id="inputAuthor" class="col-3" placeholder="Author" />
    <Input id="inputGenre" class="col-3" placeholder="Genre" />
    <a @onclick="SetFilter" class="btn btn-primary col-3">Set Filters</a>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-5 g-4">
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="/BookList/Book?Value=id" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            @*Todo: the height should be removed once images are added*@
            <img src="..." class="card-img" alt="...">@*Image *@
            <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>@*Title*@
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>@*Content*@
                <div class="row">
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*should go to the books information*@
                    <a href="#" class="btn btn-primary col-6">Go somewhere</a>@*Todo: Should go the Edit book should only be viaable to publishers*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-content-center" style="background-color:darkblue">
    <a class="p-2" href="#">&#8606;</a> @*Back to fist page *@
    <a class="p-2" href="#">&#8592</a> @*Back 1 page*@
    <a class="p-2" href="#">1</a> @*Back 1 page*@
    <a class="p-2" href="#">2</a> @*Back 1 page*@
    <a class="p-2" href="#">3</a> @*Back 1 page*@
    <a class="p-2" href="#">&#8594</a> @*forward 1 page*@
    <a class="p-2" href="#">&#8608;</a> @*To last page*@
</div>

@code {

    /// <summary>
    /// Gets first X amount of books from the inputed filter options
    /// </summary>
    private void SetFilter()
    {

    }
}
