@page "/info"
@rendermode InteractiveServer

<h3>Info</h3>
<div class="row">
    <div class="col-12 align-content-center">
        <img src="images/PubHubQRLinkImage.svg" height="600px", width="300px"/>
    </div>

</div>

@code {

}
