@page "/info"
@rendermode InteractiveServer

<div class="row">
    <table class="table table-light table-bordered">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row">Admin@hotmail.com</th>
                <td>@@Bob123</td>
                <td>Admin</td>
            </tr>
            <tr>
                <th scope="row">Mellemgaard@hotmail.com</th>
                <td>@@Bob123</td>
                <td>Forlag</td>
            </tr>
            <tr>
                <th scope="row">lukas3302@hotmail.com</th>
                <td>@@Bob123</td>
                <td>Reader</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-12 align-content-center">
        <img src="images/HomePageQRCode.png" height="600px", width="600px"/>
    </div>

</div>

@code {

}
