@using PubHubWebServer.Data.Models
@*Search*@
<div class="m-1">

    <div class="row">
        <input class="col-auto col-md-4" type="datetime" name="LogsFrom" placeholder="DD-MM-YYYY:HH-MM" value="" />
        <input class="col-auto col-md-4" type="datetime" name="LogsTo" placeholder="DD-MM-YYYY:HH-MM" value="" />
        <input class="col-auto col-md-3" type="text" name="ReceiptEntiry" placeholder="@Guid.NewGuid()" value="" />
        <input class="col-auto col-md-3" type="text" name="ReceiptAcquired" placeholder="@Guid.NewGuid()" value="" />
        <button class="col-1" @onclick="FindReceipt">Find logs</button>
    </div>
    @*List of Logs*@
    <div class="row border border-info" style="color:white;">
        <div class="col-auto col-md-2">ReceiptID ID: 1234</div>
        <div class="col-auto col-md-2">EntrityID: 1234</div>
        <div class="col-auto col-md-2">AcquiredID: 1234</div>
        <div class="col-auto col-md-2">Price: 1234.56 DKK</div>
        <div class="col-auto col-md-2">Timestamp @DateTime.Now</div>
    </div>
</div>
@code {
    private async Task FindReceipt()
    {
        
    }
}
