@page "/BookList/Book"

<div class="row" style="height:1vh">
    <div class="col-6" style="background-color:green; height:500px;">
        <h5>Book title</h5>
        <p>Authors</p>
        <p>Genres</p>
        <p>Download Count</p>
    </div>
    <div class="col-6" style="background-color:blue; height:500px;">

    </div>
</div>
<div class="row">
    <button></button>
    <button></button>
    <button></button>
</div>

@code {

}
