@page "/Subscription"

<div class="row">
    @* Right side *@
    <div class="col-6 d-flex">
        <input name="inputName" placeholder="Name" />
        <input name="inputPrice" placeholder="Price" />
        <input name="inputStateDate" placeholder="StartDate" />
        <input name="inputEndData" placeholder="EndDate" />
        <input class="h-50" name="Messag" placeholder="Name" />
    </div>
    @* Left side *@
    <div class="col-6">
        
    </div>
</div>

@code {

}
