@page "/SubscriptionList"
@using PubHubWebServer.Data.Models

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-5 g-4">
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem; background-color:lawngreen; height:300px">
            <div class="card-header">Subscription name</div>
            <div class="card-body">
                <p>1234.56 DKK</p>
                <p>Start Date</p>
                <p>End Date</p>
                <p>Message</p>
                <button @onclick="() => Subscribe(new())">Subscribe</button>
                <button @onclick="() => EditSubscription(new())">Edit subscription</button>
            </div>
        </div>
    </div>

</div>
@code {
    List<PubHubSubscription> Subscriptions = new();//TODO: Get the list onload


    /// <summary>
    /// Subscribe a user to a subscription
    /// </summary>
    /// <param name="_book">The book that is to be added to the user</param>
    /// <returns></returns>
    private async Task Subscribe(PubHubEBook _book)
    {

    }

    /// <summary>
    /// Moves the publisher to a single subscription where it can be altered
    /// </summary>
    /// <param name="_book">The book that is to be changed</param>
    /// <returns></returns>
    private async Task EditSubscription(PubHubEBook _book)
    {

    }
}
